/* /////////////////////////////////
/// Website: Siedlce - Curious City
/// Olga Grochowska
///////////////////////////////// */

body {
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
    background-color: #0088cc;
    
}

#welcome {
    background-color: #b3e6ff;
    margin: 15px;
    -webkit-box-shadow: inset 10px 10px 73px 0px rgba(0, 170, 255, 0.75);
    -moz-box-shadow: inset 10px 10px 73px 0px rgba(0, 170, 255, 0.75);
    box-shadow: inset 10px 10px 73px 0px rgba(0, 170, 255, 0.75);
}

#welcome h1 {
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

#welcome span {
    text-transform: uppercase;
}

#welcome,
#navigation li,
#photo img, 
#introduction,
#history, 
#points-of-interest, 
#culture, 
#details table {
    border-radius: 20px;
}

#navigation ul {
    list-style-type: none;
    text-align: center;
}

#navigation li {
    display: inline-block;
    background-color: #cceeff;
    -webkit-box-shadow: inset 10px 10px 73px -22px rgba(0, 170, 255, 1);
    -moz-box-shadow: inset 10px 10px 73px -22px rgba(0, 170, 255, 1);
    box-shadow: inset 10px 10px 73px -22px rgba(0, 170, 255, 1);
    padding: 20px;
    margin: 5px;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#navigation li:hover {
    background-color: #004466;
    -webkit-box-shadow: inset 10px 10px 43px 18px rgba(0, 102, 153, 0.75);
    -moz-box-shadow: inset 10px 10px 43px 18px rgba(0, 102, 153, 0.75);
    box-shadow: inset 10px 10px 43px 18px rgba(0, 102, 153, 0.75);
}

#navigation a:hover {
    color: white;
}

#photo {
    text-align: center;
}

#photo img {
    width: 90%;
    max-width: 800px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

#introduction, 
#history, 
#points-of-interest, 
#culture {
    background-color: #66ccff;
    width: 90%;
    margin: 0 auto;
}

#flex {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
}

#description {
    flex: 70%; 
    text-align: center;
}

#details {
    flex: 30%;
    
}

#details table {
    width: 100%;
    padding: 10px;
    background: #cceeff;
    border-spacing: 5px;
}

#details th {
    text-align: right;
    padding-right: 20px;
}

#details th, td {
    width: 50%;
}