/* /////////////////////////////////
/// Website: Siedlce - Curious City
/// Olga Grochowska
///////////////////////////////// */

body {
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
    background-color: #0088cc;

}

#welcome {
    background-color: #b3e6ff;
    margin: 15px;
    -webkit-box-shadow: inset 10px 10px 73px 0px rgba(0, 170, 255, 0.75);
    -moz-box-shadow: inset 10px 10px 73px 0px rgba(0, 170, 255, 0.75);
    box-shadow: inset 10px 10px 73px 0px rgba(0, 170, 255, 0.75);
}

#welcome h1 {
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

#welcome span {
    text-transform: uppercase;
}

#welcome,
#navigation li,
#photo img,
#introduction,
#history,
#points-of-interest,
#culture,
#details table, 
#flex2 article, 
#flex2 img {
    border-radius: 20px;
}

#navigation ul {
    list-style-type: none;
    text-align: center;
}

#navigation li {
    display: inline-block;
    background-color: #cceeff;
    -webkit-box-shadow: inset 10px 10px 73px -22px rgba(0, 170, 255, 1);
    -moz-box-shadow: inset 10px 10px 73px -22px rgba(0, 170, 255, 1);
    box-shadow: inset 10px 10px 73px -22px rgba(0, 170, 255, 1);
    padding: 20px;
    margin: 5px;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#navigation li:hover {
    background-color: #004466;
    -webkit-box-shadow: inset 10px 10px 43px 18px rgba(0, 102, 153, 0.75);
    -moz-box-shadow: inset 10px 10px 43px 18px rgba(0, 102, 153, 0.75);
    box-shadow: inset 10px 10px 43px 18px rgba(0, 102, 153, 0.75);
}

#navigation a:hover {
    color: white;
}

#photo {
    text-align: center;
}

#photo img {
    width: 90%;
    max-width: 800px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

#introduction,
#history,
#points-of-interest,
#culture {
    background-color: #66ccff;
    width: 90%;
    margin: 0 auto;
}

#flex {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
}

#description {
    flex: 70%;
    text-align: center;
}

#details {
    flex: 30%;
}

#details table {
    width: 100%;
    padding: 10px;
    background: #cceeff;
    border-spacing: 5px;
}

#details th {
    text-align: right;
    padding-right: 20px;
}

#details th,
td {
    width: 50%;
}

#history p,
#points-of-interest p,
#culture p {
    margin: 20px;
    text-align: center;
    padding: 12px;
}

#background {
    background-image: url('photos/flag.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

#flex2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#flex2 article {
    flex: 0 1 30%;
    background: #cceeff;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

#flex2 img {
    width: 100%;
    opacity: 0.85;
}

#flex2 img:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    #flex2 article {
        flex: 0 1 45%;
    }
}

#culture::after {
    content: "";
    clear: both;
    display: block;
}

#container {
    position: relative;
    float: left;
    width: 30%;
    max-width: 300px;
    margin: 0 30px 10px 30px;
}

#container img {
    display: block;
    width: 100%;
    height: auto;
}

#text {
    position: absolute;
    bottom: 0; 
    background: rgb(0, 102, 153);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 1em;
    text-align: center;
}

#container:hover #text {
    opacity: 1;
}

footer {
    background: #00334d;
    color: white;
    text-align: right;
    padding: 25px;
    margin-top: 30px;
}

footer h3 {
    font-size: 12px;
}

footer a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

#more:hover {
    color: #00334d;
    background: white;
}

#links img {
    background: white;
    width: 50px;
    border: 2px solid white;
    border-radius: 25px;
}

#links img:hover {
    box-shadow: 0 0 20px;
}

footer p {
    margin-bottom: 0;
    font-size: 10px;
}